ul {
    margin-left: 0px;
    padding-left: 0em;
}

li {
    margin: 0;
    padding: 0;
}

ul.menu li {
    display: inline;
    margin-right: 5px;
}

ul.photos li {
	display: inline;
	padding: 0px;
	margin: 0px;
}

ul.albums li {
    display: inline;
    padding: 0px;
    margin: 0px;	
}