@(albums: List[model.Album])
    @*
    <ul class="albums"> 
    @for(album <- albums) {
      <li><a title="@album.getTitle() (@album.getCount())" href="/album/@album.getServiceIndex()/@album.getId()"><img src="@album.getThumbnailUrl()" alt="@album.getTitle() (@album.getCount())"/></a></li>
    } 
    </ul>
    *@
        
    <div id="albums">
	    <div class="frame-albums">
	    
            <div class="setsheader">
            
	            <div id="searchbox">
	                <div class="left">
	                    <input type="text" name="search" id="search" value="" >&nbsp;
	                    <a id="bsearch" href="#" >Search</a>
	                    |
	                    <a id="ball" href="#" >All</a>
	                    @if(session.get("user")) {
	                    |
	                    <a id="bpub" href="#" onclick="" class="">Pub only</a>
	                    }
	                </div>
	                <div class="right">
	                    <img src="@routes.Assets.at("images/ajax-loader6.gif")" id="search-progress" style="display: none;">
	                </div><div class="clear"></div>
	                <script>
	                function search() {	$('#search-progress').show(); filter($('#search').val()); $('#search-progress').hide(); $('#search').focus();$('#search').select(); }
	                $("#bsearch").click(function(event) { search(); });
                    $("#ball").click(function(event) { $('#search').val(''); search(); });	                
	                $("#search").change(function(event) { search(); });
	                $("#bpub").click(function(event) { $(this).toggleClass('on'); search(); });
	                $("#search").keypress(function(event) { if (event.which == 13) { search(); } });	                
	                </script>
	            </div>
	            <div id="searches" style="display:none;">
	            </div>
            
            </div>
	    
	       <div id="albums-only">
           @for(album <- albums) {
            <a onclick="$('.oneset').removeClass('album-selected'); $(this).find('div').addClass('album-selected'); $('#exif').html(''); loading('#right'); $('#right').load('/album/@album.getServiceIndex()/@album.getId()'); return false;" href="#" title="@album.getTitle()" class="@if(album.isPub()){pub}" >
		        <div class="oneset oneset_@album.getId()">
		            @album.getTitle()@*<span class="counts">(@album.getCount())</span>*@
		            @if(session.get("user") != null && album.isPub()) {
		            	<span style="color: #5CCCCC; font-weight: bold;">pub</span>
		            }
		            @if(session.get("user")) {
		              <br/><span style="color: #CCCCCC; font-size: 10px;">@album.getServiceUser()</span>
		            }
		        </div>
		     </a>
           }
           </div>
	    </div>
    </div>
