@(albums: List[model.Album], albumId:String)
    @*
    <ul class="albums"> 
    @for(album <- albums) {
      <li><a title="@album.getTitle() (@album.getCount())" href="/album/@album.getServiceIndex()/@album.getId()"><img src="@album.getThumbnailUrl()" alt="@album.getTitle() (@album.getCount())"/></a></li>
    } 
    </ul>
    *@
        
    <div id="albums">
	    <div class="frame-albums">
	    
            <div class="setsheader">
            
	            <div id="searchbox">
	                <div class="left">
	                    <input type="text" name="search" id="search" value="" >&nbsp;
	                    <a id="bsearch" href="#" >@Messages("search")</a>
	                    |
	                    <a id="ball" href="#" >@Messages("all")</a>
	                    @if(session.get("user")) {
	                    |
	                    <a id="bpub" href="#" onclick="" class="">Pub only</a>
	                    }
	                </div>
	                <div class="right">
	                    <img src="@routes.Assets.at("images/ajax-loader6.gif")" id="search-progress" style="display: none;">
	                </div><div class="clear"></div>
	            </div>
	            <div id="searches" style="display:none;">
	            </div>
            
            </div>
	    
	       <div id="albums-only">
	       @for(i <- albums.indices) {
	       
            <a url='/album/@albums(i).getServiceIndex()/@albums(i).getId()' selector='#uu@i' href="#" title="@albums(i).getTitle()" class="openalbum @if(albums(i).isPub()){pub}" >
		        <div id="uu@i" class='oneset oneset_@albums(i).getId() @if(albums(i).getId() == albumId){album-selected}'>
		            @albums(i).getTitleShort()@*<span class="counts">(@albums(i).getCount())</span>*@
		            @if(session.get("user") != null) {
		            	<span class="pubi" style="@if(!albums(i).isPub()){display: none;}">pub</span>
		            }
		            @if(session.get("user") != null) {
		              <br/><span style="color: #CCCCCC; font-size: 10px;">@albums(i).getServiceUser()</span>
		            }
		        </div>
		     </a>
           }
           </div>
	    </div>
    </div>
