@(entry:com.google.gdata.data.photos.PhotoEntry)
@if(entry.hasExifTags() && entry.getExifTags() != null) {
    @defining(entry.getExifTags().getExifTags()) { tags =>
        <table class="exif" cellspacing="0" cellpadding="0" border="0">
        @if(entry.getExifTags().getTime() != null) {
        <tr><td class="exifname">@Messages("exif.time")</td><td class="exifvalue">@Application.sdf.format(entry.getExifTags().getTime())</td></tr>
        }
        <tr><td class="exifname">@Messages("exif.filename")</td><td class="exifvalue">@entry.getTitle().getPlainText()</td></tr>
        @for(tag <- tags) {
            @if(!tag.getName().equals("imageUniqueID") && !tag.getName().equals("time")) {
                <tr><td class="exifname">@Messages("exif." + tag.getName())</td><td class="exifvalue">@tag.getValue()</td></tr>
            }
        }
        </table>
    }
    @*
    @defining(entry.getExifTags()) { tags =>
        <table class="exif">
            <tr><td>@Messages("exif.date")</td><td>@Application.sdf.format(tags.getTime())</td></tr>
        </table>
    } 
    *@   
} else {
    <pre>No EXIF tags</pre>
}
