@(title: String)(content: Html)(contentright: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <!-- <script type="text/javascript">jQuery.noConflict();</script> -->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/swfobject.js")" type="text/javascript"></script>
		<!--[if lt IE 9]>
		  <script type="text/javascript" src="@routes.Assets.at("javascripts/excanvas/excanvas.js")"></script>
		<![endif]-->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/spinners/spinners.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/lightview/lightview.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/lightview/lightview.css")" />
        @* scroll sidebar *@        
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery.jscrollpane.css")" />
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.mousewheel.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.jscrollpane.min.js")"></script>
        @* debug  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.json-2.4.min.js")"></script> *@
    </head>
    <body id="body">
    <div id="msg"></div>
    <div id="wrapper">  
        <div id="main">
            @*PLAY_SESSION:@request().cookies().get("PLAY_SESSION").value()*@
            <div id="content">      
                <div class="fixedwidth">
	                <div class="left leftfixed">
                        @content
	                </div>
	                <div class="right rightfixed">
	                   @if(flash.get("message") != null) {
                        @*<div class="message">@flash.get("message")</div>*@
                        <script>
                        msg('@flash.get("message")');
                        </script>
                        }	                
                        <div id="header">
                          <div class="left" style="padding-top: 10px;">
                              <a href="/" class="logoref"><img src="@routes.Assets.at("images/logo.png")"></a>
                          </div>
                          
			            <div class="right" style="margin-top: 10px;">
			            <div class="right">&nbsp;<a href="/?lang=pl">PL</a>|<a href="/?lang=en">EN</a></div>
			            @if(session.get("user") != null) {
			             <span class="username">@session.get("user")</span>
			             <a href="/logout" >Logout</a>
			            } else {
			            <span id="form" style="display: none;"><form id="f" method="post" action="/login" style="display: inline;">@Messages("loginlabel") / @Messages("password")<br/><input name="login" type="login" value=""/>
			            <input name="pass" type="password" value=""/><input type="submit" value="" class="hiddensubmit"/>&nbsp;<a href="#" onclick="$('#f').submit();">OK</a>|<a href="#" onclick="$('#form').hide(); $('#loginb').show();">@Messages("cancel")</a><input type="submit" value="Login" style="display: none;"/></form></span>
			                    <a id="loginb" href="#" onclick="$('#form').toggle(); $(this).toggle();">@Messages("login")</a>
			                }                   
			            </div>
                          
                          <div class="clear"></div>
                        </div>
                        
                        <div id="right">@contentright</div>	                
	                    
	                    @*
	                    <div>
	                       <ul><li><a href="/test">+1album</a></li><li><a href="/test/5">+5album</a></li></ul>
	                    </div>
	                    *@
	                    
				        <div id="footer-right">
				            Inspired by <a href="http://minishowcase.net">minishowcase</a>. Powered by <a href="http://www.playframework.org/"><img style="vertical-align: text-bottom;" src="@routes.Assets.at("images/play.png")"></a>&nbsp;|&nbsp;<a href="http://marioosh.net">marioosh.net</a>
				            <br>@Messages("license")
				            <div class="left"></div>
				            <div class="right"></div>
				            <div class="clear"></div>
				        </div>
				        
						<div id="exif-container">
				           <div id="exif"></div>
				        </div>
				        
				        <div id="debug" style="display: none;"></div>				        
				                	                    
	                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
