@(feed: com.google.gdata.data.photos.AlbumFeed, photos: List[model.Photo], albums: List[model.Album])
@main("Photos") {
	@albumslist(albums)
} {
    <div id="photos-header">
    <div class="left album-title">
        <a href="/">albumy</a>&nbsp;&raquo;&nbsp; <a href="#">@feed.getTitle().getPlainText()</a>
    </div>
    <div class="right">
    </div>
    <div class="clear"></div>
</div>

    @*
    <ul class="photos"> 
    @for(photo <- photos) {
      <li><a class="lightview" data-lightview-group="a@photo.getId()" data-lightview-title="<a href='@photo.getMediaContents().get(0).getUrl()' target='_blank'>@photo.getTitle().getPlainText()</a>" data-lightview-group-options="controls: 'thumbnails'" data-lightview-options="thumbnail: '@photo.getThumbs().get(1)'" href="@photo.getThumbs().get(2)"><img alt="@photo.getTitle().getPlainText()" src="@photo.getThumbs().get(0)"/></a></li>
    } 
    </ul>
    *@
    
    @for(i <- photos.indices) {
        <div id="th@i" class="thumb_box" >
            <a class="lightview" data-lightview-group="a@photos(i).getId()" data-lightview-title="<a href='@photos(i).getContent()' target='_blank'>@photos(i).getTitle()</a>" data-lightview-group-options="controls: 'thumbnails'" data-lightview-options="thumbnail: '@photos(i).getThumbs().get(1)'" href="@photos(i).getThumbs().get(2)">
	            <div id="t@i" class="thumb" style="background-image: url('@routes.Assets.at("images/ajax-loader7.gif")'); background-position: 50% 50%; "></div>
	            <div id="u@photos(i).hashCode()" class="thumb ttip" onmouseover="exif(@photos(i).hashCode());" style="float: none; display: none; background-image: url(@photos(i).getThumbs().get(0)); "></div>
	            <img style="display: none;" src="@photos(i).getThumbs().get(0)" onload="jQuery('#t@i').hide(); jQuery('#u@photos(i).hashCode()').show();"/>
            </a>
            <a href="@photos(i).getThumbs().get(2)" title="Otwórz w nowym oknie" target="_blank"><img class="full" src="@routes.Assets.at("images/n3.png")" alt="full size"></a>
        </div>
    
    }    
}